@CHARSET "ISO-8859-1";
html,body{
	height: 100%;
}

#page{	
	min-height:100%;
}

#footer, #page:after {
	position: absolute;
	margin-top: -100px;
	height: 100px;
	width: 100%;
	clear: both;
	background-color: #2191c0;
	text-align: center;
}